.header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75rem;
    padding: 1rem 0;
    background-color: #333;
}

.logo
{
    margin-left: 1rem;
    font-size: clamp(1.125rem, 1.75vw, 1.875rem);
    color: white;
    font-weight: bold;
}

.internalLinks
{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.websiteLinks
{
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.websiteLink
{
    font-size: 0.9375rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}

.websiteLink:hover
{
    text-decoration: underline;
}

.websiteLink + .websiteLink
{
    margin-left: 0.5rem;
}

.accountLinks
{
    display: flex;
    align-items: center;
}

.headerBtn
{
    font-size: 1.125rem;
    color: white;
    border: 2px solid #9a0026;
}

.headerBtn[data-login]
{
    background-color: transparent;
    transition: background-color 250ms ease-in-out;
    margin-right: 0.5rem;
}

.headerBtn[data-login]:hover
{
    color: blue;
    background-color: white;
}

.headerBtn[data-register]
{
    background-color: orange;
}

.headerBtn[data-register]:hover
{
    background-color: #ff8c00;
}