.sidebar
{
    flex: 1;
    height: 100%;
    background-color: #333;
    position: sticky;
}

.sidebarWrapper
{
    padding: 1.25rem;
}

.userInfo
{
    display: flex;
    align-items: center;
}

.pfp
{
    border-radius: 50%;
    font-size: 2.5rem;
    color: white;
    margin-right: 1.25rem;
}

.username
{
    font-size: 1.25rem;
    color: white;
    margin: 0;
}

.sidebarHr
{
    margin: 1.25rem 0;
}

.sidebarList
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebarListItem
{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    width: fit-content;
    padding: 0.5rem;
}

.sidebarListItem:hover
{
    background-color: white;
}

.sidebarListItem:hover .sidebarListIcon, .sidebarListItem:hover .sidebarListText
{
    color: black;
}

.sidebarListItem.active
{
    background-color: white;
}

.sidebarListItem.active .sidebarListIcon, .sidebarListItem.active .sidebarListText
{
    color: black;
}

.sidebarListItem + .sidebarListItem
{
    margin-top: 1.25rem;
}

.sidebarListIcon
{
    margin-right: 1rem;
    color: white;
}

.sidebarListText
{
    font-size: 1.125rem;
    color: white;
}