.modal
{
    box-shadow: 0 1px 4px rgba(99, 90, 90, 0.2);
    border-radius: 6px;
    background-color: green;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 5rem);
}