.questionWrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    width: 400px;
    height: 100%;
    padding: 1.5rem;
}

.question
{
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.3;
    text-align: left;
    max-width: 40%;
    overflow-wrap: break-word;
}

.choices
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
}

.choice
{
    
}


.choice + .choice
{
    margin-top: 0.5rem;
}

.choiceLabel
{
    font-size: 1.125rem;
    margin-left: 0.5rem;
    text-align: left;
    overflow-wrap: break-word;
}