.aboutPage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.aboutContent
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
}

.aboutMainContent
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12.5rem;
}

.aboutMainContent + .aboutMainContent
{
    margin-top: 2.5rem;
}

.aboutDetails
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
}

.aboutSectionTitle
{
    font-size: clamp(1.25rem, 1.758vw, 2rem);
    margin: 0 0 1rem;
    text-align: left;
}

.aboutSectionText
{
    font-size: clamp(0.875rem, 1.457vw, 1.125rem);
    margin: 0 0 1rem;
    padding: 0 3.5rem 0 0;
    text-align: left;
    font-weight: 530;
}

.aboutSectionList
{
    margin: 0;
}

.aboutSectionList li
{
    font-size: clamp(0.875rem, 1.457vw, 1.125rem);
}

.aboutImg
{
    width: 25rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}