.assessmentResults
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50%;
    background-color: white;
    border-radius: 6px;
}

.assessmentResult
{
    font-size: 1.25rem;
    font-weight: bold;
}