.homepage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #56ab2f, #a8e063);
}

.homepageMainContent
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2.5rem;
    height: 100%;
}

.cta
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ctaTitle
{
    color: white;
    font-size: clamp(1.5rem, 2.5vw, 2.8125rem);
    margin: 0 0 0.75rem;
    text-align: left;
    word-break: break-all;
}

.ctaSubtitle
{
    color: brown;
    font-size: clamp(1.125rem, 2vw, 2rem);
    text-align: left;
    margin-bottom: 1rem;
    word-break: break-all;
}

.ctaBtn
{
    color: yellow;
    background-color: blue;
    font-size: 1.25rem;
    border: none;
}

.ctaBtn:hover
{
    background-color: darkblue;
}

.homepageImg
{
    width: 12.5rem;
    height: 12.5rem;

}