.userHomepage
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.snapshotData
{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.snapshotDetails
{
    padding: 2rem;
}

.snapshotTitle
{
    color: darkgrey;
    font-size: 0.9375rem;
    margin: 0 0 0.5rem;
    text-align: left;
}

.snapshotNum
{
    font-size: 1.5rem;
}