.flashcard
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: white;
    transform-style: preserve-3d;
    transition: transform 150ms ease-in-out;
    cursor: pointer;
    transform: perspective(1500px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    overflow-wrap: break-word;
}

.flashcard:hover
{
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.flashcard.flip
{
    --rotate-y: 180deg;
}

.flashcard .front
{
    left: 0;
}

.flashcard .back
{
    transform: rotateY(180deg);
}

.flashcard .front, .flashcard .back
{
    backface-visibility: hidden;
    padding: 1rem;
    position: absolute;
    max-width: 100%;
}

.flashcard-question
{
    text-align: left;
    margin: 0;
    overflow-wrap: break-word;
}

.flashcard-options
{
    margin-top: 1rem;
    overflow-wrap: break-word;
}

.flashcard-option
{
    color: #555;
    font-size: 0.75rem;
    text-align: left;
}

.flashcard-option + .flashcard-option
{
    margin-top: 0.25rem;
}