.category
{
    width: 100%;
    background-color: khaki;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.categoryTitle
{
    font-size: 1.5rem;
    color: white;
    margin: 0;
    text-align: left;
}

.categoryOptions
{
    display: flex;
    align-items: center;
}

.categoryOptionBtn
{
    font-size: 1.125rem;
    color: white;
    background-color: transparent;
    border: 1px solid green;
    margin-right: 1rem;
}

.categoryOptionBtn:hover
{
    background-color: green;
}

.categoryTrashBtn
{
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    padding: 0.5rem;
}

.categoryTrashBtn:hover
{
    color: white;
    background-color: red;
}