.loginOptions
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem 1.5rem;
}

.loginForm
{
    padding: 0.5rem;
    width: 100%;
}

.loginErrorMsg
{
    display: none;
    border: none;
    background-color: black;
    color: red;
    border-radius: 6px;
    font-size: 1.125rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.loginBtn
{
    width: 100%;
    border: none;
    font-size: 1.125rem;
    background-color: blue;
    color: white;
    transition: background-color 250ms ease-in-out;
    margin-top: 1rem;
}

.loginBtn:hover
{
    background-color: midnightblue;
}

.separator
{
    width: 70%;
    color: darkgrey;
    font-size: 1.25rem;
    font-weight: 330;
    margin: 1.5rem auto;
    text-align: center;
    overflow: hidden;
}

.separator::before, .separator::after
{
    content: "";
    width: 50%;
    display: inline-block;
    margin: 0 .5em 0 -55%;
    border-bottom: 1px solid;
    vertical-align: middle;
}

.separator::after
{
    margin: 0 -55% 0 .5em;
}

.authProviderBtn
{
    width: 100%;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-size: 1.125rem;
}

.authProviderBtn:hover
{
    background-color: black;
    color: white;
}

.authProviderBtn:hover .authProviderBtnIcon
{
    color: white;
}

.authProviderBtnIcon
{
    font-size: 1.125rem;
    color: black;
    margin-right: 1.25rem;
}