.loginForm
{
    padding: 3rem;
    width: 100%;
}

.loginBtn
{
    width: 100%;
    border: none;
    font-size: 1.125rem;
    background-color: blue;
    color: white;
    transition: background-color 250ms ease-in-out;
    margin-top: 1rem;
}

.loginBtn:hover
{
    background-color: midnightblue;
}